@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Syncfusion.EJ2;
@{
    var TitleFont = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont
    {
        Size = "24px"
    };
}

<div class="text-center">
    <h1 class="display-4">BMW Wallbox</h1>
</div>

<div class="row">
    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge01" title="Power" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="10">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>

    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge02" title="Energy Charging" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="30">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>

    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge03" title="Energy Total" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="2500">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge04" title="Current L1" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="20">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>

    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge05" title="Current L2" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="20">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>

    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge06" title="Current L3" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="20">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge07" title="Voltage L1N" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="250">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>

    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge08" title="Voltage L2N" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="250">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>

    <div class="col-sm-4 col-xs-1">
        <div class="content-wrapper">
            <ejs-circulargauge id="Gauge09" title="Voltage L3N" titleStyle="TitleFont">
                <e-circulargauge-axes>
                    <e-circulargauge-axis minimum="0" maximum="250">
                        <e-axis-annotations>
                            <e-axis-annotation angle="180" radius="120%" content=""></e-axis-annotation>
                        </e-axis-annotations>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/signalr/signalr.js"></script>
    <script>
        var gauge1, gauge2, gauge3
        var gauge4, gauge5, gauge6
        var gauge7, gauge8, gauge9

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/monitor")
            .configureLogging(signalR.LogLevel.Trace)
            .build();

        connection.on('UpdateReport3', function (data) {
            if (!gauge1)
                gauge1 = document.getElementById("Gauge01").ej2_instances[0];
            if (!gauge2)
                gauge2 = document.getElementById("Gauge02").ej2_instances[0];
            if (!gauge3)
                gauge3 = document.getElementById("Gauge03").ej2_instances[0];
            if (!gauge4)
                gauge4 = document.getElementById("Gauge04").ej2_instances[0];
            if (!gauge5)
                gauge5 = document.getElementById("Gauge05").ej2_instances[0];
            if (!gauge6)
                gauge6 = document.getElementById("Gauge06").ej2_instances[0];
            if (!gauge7)
                gauge7 = document.getElementById("Gauge07").ej2_instances[0];
            if (!gauge8)
                gauge8 = document.getElementById("Gauge08").ej2_instances[0];
            if (!gauge9)
                gauge9 = document.getElementById("Gauge09").ej2_instances[0];

            value01 = data.power;
            value02 = data.energyCharging;
            value03 = data.energyTotal;
            value04 = data.currentL1;
            value05 = data.currentL2;
            value06 = data.currentL3;
            value07 = data.voltageL1N;
            value08 = data.voltageL2N;
            value09 = data.voltageL3N;

            gauge1.setAnnotationValue(0, 0, "<text class='h4'>" + value01.toFixed(3) + " kW</text>");
            gauge2.setAnnotationValue(0, 0, "<text class='h4'>" + value02.toFixed(2) + " kWh</text>");
            gauge3.setAnnotationValue(0, 0, "<text class='h4'>" + value03.toFixed(1) + " kWh</text>");
            gauge4.setAnnotationValue(0, 0, "<text class='h4'>" + value04.toFixed(1) + " A</text>");
            gauge5.setAnnotationValue(0, 0, "<text class='h4'>" + value05.toFixed(1) + " A</text>");
            gauge6.setAnnotationValue(0, 0, "<text class='h4'>" + value06.toFixed(1) + " A</text>");
            gauge7.setAnnotationValue(0, 0, "<text class='h4'>" + value07.toFixed(3) + " V</text>");
            gauge8.setAnnotationValue(0, 0, "<text class='h4'>" + value08.toFixed(3) + " V</text>");
            gauge9.setAnnotationValue(0, 0, "<text class='h4'>" + value09.toFixed(3) + " V</text>");

            gauge1.setPointerValue(0, 0, value01);
            gauge2.setPointerValue(0, 0, value02);
            gauge3.setPointerValue(0, 0, value03);
            gauge4.setPointerValue(0, 0, value04);
            gauge5.setPointerValue(0, 0, value05);
            gauge6.setPointerValue(0, 0, value06);
            gauge7.setPointerValue(0, 0, value07);
            gauge8.setPointerValue(0, 0, value08);
            gauge9.setPointerValue(0, 0, value09);
        });

        connection.start()
            .then(function () {
                connection.invoke('UpdateReport3')
                    .catch(error => {
                        console.log('Invocation of UpdateReport3 failed. Error: ' + error);
                        alert('Update failed with error: ' + error);
                    });
            })
            .catch(error => {
                console.log('Could not connect to SignalR server. Error: ' + error);
                alert('Could not connect to monitor hub.');
            });
    </script>
}
