<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZipatoWeb</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    @* Syncfusion Essential JS 2 Styles *@
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ZipatoWeb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Views
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Zipato">Zipato</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Attributes">Attributes</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Endpoints">Endpoints</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Devices">Devices</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Rooms">Rooms</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Scenes">Scenes</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Thermostats">Thermostats</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Box">Box</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/WebApi">Swagger</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Devices
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Devices/All">All</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/Devices/Switch">Switch</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Devices/OnOff">OnOff</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Devices/Plug">Plug</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Devices/Dimmer">Dimmer</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Devices/RGB">RGB</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sensors
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Sensors/All">All</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/Sensors/Temperature">Temperature</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Sensors/Humidity">Humidity</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Sensors/Luminance">Luminance</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Sensors/Meter">Meter</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Sensors/Virtual">Virtual</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Others
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Others/All">All</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/Others/Camera">Camera</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Others/Scene">Scene</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ZipatoWeb - <a asp-area="" asp-page="/Terms">Terms of service</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* Syncfusion Essential JS 2 Scripts *@
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <ejs-scripts></ejs-scripts>

    @RenderSection("Scripts", required: false)
</body>
</html>
